* {
    margin: 0;
    padding: 0;
}

.no-select {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: 12px;
    overflow-x: hidden;
}

header {
    padding: 4px 0 4px 60px;
    margin-bottom: 30px;
    background-color: #900;
    box-shadow: 0 5px 20px #aaa;
    overflow: hidden;
    min-width: 450px;
}

header img {
    height: 65px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    color: #fff;
    font-family: 黑体, 微软雅黑, sans-serif;
    font-size: 24px;
    vertical-align: middle;
}

main {
    text-align: center;
}

main > div {
    display: inline-block;
    vertical-align: top;
}

.main-left {
    text-align: right;
}

.banner {
    position: relative;
}

.banner img {
    width: 500px;
    height: 350px;
}

.banner a {
    position: absolute;
    display: block;
    right: 35px;
    bottom: 15px;
    color: #900;
    text-decoration: none;
}

.safety-tips {
    margin-top: 13px;
    color: #6e6e6e;
    padding: 10px 0 0 15px;
    background: url(data:image/gif;base64,R0lGODlhDgANALMAALEaHKkVG6oWG60XG6ERG6UTG54PG5wPG6AQG5kNG8MjHMAhHL0gHLkeHLUcHP///yH5BAEAAA8ALAAAAAAOAA0AAAQ98KVJ65RC6c3FXMsjjiI4MWiqolPTkKQ7OXRt0xMAwKM+EYOgcEhISCqIQABB4UkMBaNzlDhIp6ILlkqKAAA7) no-repeat;
}

.main-right {
    position: relative;
    padding: 15px 20px;
    width: 360px;
    background: linear-gradient(170deg, #efefef, #fbfbfb 20%, #fbfbfb);
    border: 5px solid #eee;
    border-radius: 15px 0 15px 0;
    text-align: left;
}

.main-right h2 {
    /*margin: 10px 0 0 10px;*/
    position: absolute;
    top: 25px;
    left: 30px;
    color: #900;
    font-size: 18px;
    font-family: 黑体, 微软雅黑, sans-serif;
}

.protected-app {
    position: absolute;
    top: -8px;
    right: -7px;
    width: 110px;
    height: 25px;
    color: #888;
    background: url('data:image/svg+xml;utf8,<svg width="110" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="Gradient" x1="0" x2="0" y1="0" y2="1"><stop offset="0%" stop-color="#ffffff"/><stop offset="60%" stop-color="#d9d9d9"/><stop offset="100%" stop-color="#cecece"/></linearGradient></defs><path d="M1,4q6,-5 11,0Z" fill="#bfbfbf" /><path d="M110,1h-104q7,2 11,12t11,12 h82Z" fill="url(#Gradient)"/></svg>') no-repeat;
    font-size: 11px;
    font-weight: normal;
    line-height: 25px;
    text-indent: 31px;
}

.protected-app:hover {
    text-decoration: none;
}

.content {
    margin: 63px 0 15px;
    min-height: 212px;
}

.error {
    position: relative;
    margin-top: -8px;
    margin-bottom: 5px;
    padding: 10px 20px 20px 80px;
    background: #fed 10px 8px url(data:image/gif;base64,R0lGODlhNwA1APcAAP////9pK//u3f3hzv/8+vzdyf6sf++ogf+0i/20jP+6lP+8l/7RuPzZxfXUwvbZyfzi0/307/+XYv+aZv+cav+ebP+gbv+gcP+hcf+icv+idP+ldf+ldv+mdv+leP+neP+mev+oev+pfP+qfP+rfv+qgP+sgP+sgv2sgf2tgv+uhf+uhv2thf2uhf6viPeth/+0jf+1jviwivGqhv+0j/20jvuyjf+2kP60j/+2kv+4kv+3k/+4lP+5lf+6lv+7mP+8mv/PtfvUv/3ezv7u5vvr4/728v+BSP+GUP+RXP+UZf+bbf+dcf+fcvGVbP+gdP+hdv+idv+ieP+kev+kfP+mfP+lff+ofv+ogP+pgv+rgv+shPungv+thv+uiP+wiv+yjfrCp/nCqf3HrfzMtv7Svv3WxP3f0fvj2P7v6P7x6/3y7f5OBf5RCf9UDf9WEP9YEv9ZFPxYFPpYFf9bFv1aFvZYFv9cGftbGfFXGO1WGPlcGv9eG/5dG/1dG/FZG/9fHfhdHf9hH/NdH/9iIfphIv9kJPxjJP9mJvxlJv9nKP9qLftpLfZnLPFmLP9sL+5mLf9uMv1tMvlrMfxuM/9vNPlsM/FpMv9xN/ZuNv9zOfxyOf90O/VvOf92Pv94P/t1Pu1vO/93QPRyPf13Qf95Qvp3Qf97RPp5Q/98Rvp6RfJ2Q/19SO51Q/9+Sf1+Sv9/S/+CTP+ATf+CT/+DUf+EUvyEUv+GVP+IVv6KWe+CVf6OYP+RYfyQZPCKYf2WbP6ddv6feP+ie/meeP6jff+mf/6qhvWwk/OzmPa3nfi/p/bBq//ayvrXyfzbzvrcz/lIA/lMCfZJCvlQD/dSFPhVGflsO/twPvtxQPxyQfx0Qv12RP96SP59Tf6AT/+GWPGVcfKbevKegPOjhPSpjPatkf7n3vJECetBC/FJEOxJF+5SIu9VJfFbK/ViMvdoN+14U/B8V+6DYfCHZfCNbPKWd+Y7CepGFedDFOtLHOxPH+tRI+pTJulcMuprRf///yH5BAEAAP8ALAAAAAA3ADUAAAj/AP/9YyDsG7eDCBMqXMiwocNvwhgI/Aem268nU6hYKVYMi8csWoxt2dKlixcvLr58AcMSDA0aN2Lm2LGDB48ePXz4+METiE8gOYrNAvMviLcnUqYI07ixI5YsWUSSNIlSZUuXL2XOrHkz506eP34C6XErSDAlSadMsVKl2JWOILWMnFpV5Y8yEJiNwRHzxlabOHV+DSsWSAlg3ZCmtcL27Uctcum6SAlEDYDLBMbU4OuXpo6ugr8W9tFtGxQpadVWqXLlSonXkUmumPxlyOXbaGzUiKmjt+8eCkL7WEB8QQkl20yjVruWdesSced2WYHSRZrbl9W8sMHZ8+fAgnn6/7jCK1eubdqgnE692vnrEpBlz/ZCBDuACDNkJIjBW8eO317pMMUuuBSIizbZrMfeaq7BFlkXKszmQn3YrZFfAn3d4JtvCtwARS4GGpgNNhpAEcVyU4DAYIPwnXDCFipE2AKFt0VwwAv7xcBffzqssAQutwQpZJDYXPPEE+qhOEV7z8EmHQvm2LfGjTbAAAMNOt4QwxS81OLll2DWco2RSJ64YJPwxaYCC2fYV8SNCcCgYwxfMIELLXjmqWee11hzpIkneqCWis41qIWLI6VgG3Zo3AgGAghcoQQts1Rq6aWYWmNNE008oUEUgXrgAaEiiMCiiyegYIZ9D9yYwhK3yP8i66y01jqrppw2kcGnoIoKAgghhFCqCCSQUIIJqTJgnwNO5PIKLNBGK+2001rzDhMXXIDBrp9y4OsHwZY6QrEmmGAAGfYhs4oqrLji7rvwxhvvO+9UkK222366gbcefACuuOMWG4Z95KyCyimpJKzwwgwzTG8FFViQ7ba7brBvBx34G+4II3ygBBf2hWPwKSSXbPLJKL/jDsQRT5zByxZvkLHGHUxwSyml/ELAbQSAM4opOAct9NBEl+KOOxRQwPLEFGdgMQcZ8IJEKaJULUovRtymhi+jgGL112CHbfXRSbNsgcRNV5BELJ607Xbbu2R9WRG6dP323XjjffQESSv/DfHZE+TiCieEF244J7YUgVsrnWxy+OOQF+5OOxPwrTQFSSDxiSacd+6556q0edkzoWSyyeeop955O5RPIIHgmmAi++y01z47upctc0kmtvfuOyasH8FJJcQXb/zxyFMyjBEERODLJZZQgvz01LMeyfXYZ6/99tdLYskwxzgBySWTSML9+duz/sj67Lfv/vvsM9KII5A40ggj8OcPfzvsLOL//wAMoAD/xwj5NeJ+jBigAgfIDnYE4IEQjKAEJxhBUtgCFYygoAY3yI51KOKDIAyhCEf4wQAQowzmMIMxJEHCFrZwHetAhAxnSMMa2lCGTNjZbYyRiBv68Ibr0Ich/4ZIxCIa8YhDZIZ9zFGIQyDxiUfUhz4IQcUqWvGKWKRilCo0iEJk8YtY1Ec+BEHGMprxjGgk4xjs04xBBCKNcERjPvIBiDra8Y54zCMg/KAKZ+BGF38IhB/0SEg85oMffeCDIhfJyEY60g97yIQTxgGOUOjhD3vwgyM36cg+7CMe1biDKEdJylKa8g54sEMe9MDKPNgBD6eMZSmrEY8wqKMOdMilLnfJy17WoQ52CGYw54DLXhqTl3VQRxj+UY97UEMOcYimNKdJzWrKQQ5zuCY0q8nNacqBGveox0TEEA9+4OOc6EynOtXpTDi4853upMY654kPfsRDDBPJpz73yaxPgZQDH9N4g0AHKlB8QKCfCE2oQvUpBnikww0Qjagb0jGOhVr0ovpswDweKlE3TKMfGA3pRQVAD3S0oaPowKdIV4pQAYDDpG2IaRukAQ+W2pSfAgiHPaIh0zbYowA3DepEBEAOe0iDDUg9hziFKlQBKAMe50AqG+xBAKY2tQHyQAdS0ZEMqzJVAPOwBxug4Q+vfpUe9oCGPYRg1qaKwx726GpbhTqAZAjAogEBADs=) no-repeat;
    border: 1px dotted #e2c822;
    min-height: 35px;
}

.error p {
    color: #d21033;
    line-height: 1.5;
}

.error + .content {
    margin-top: 0;
}

.success {
    padding: 30px 20px 20px 100px;
    background: #fff9d7 20px 35px url(data:image/gif;base64,R0lGODlhNwA0APcAACh/KOHt4efx54m5iC6HK3mwdqTJorzYu8vgyjuNNaHJnjSRLD2cMkeaPGWrWZzIldTn0Um2M0iqNlWqRFHFNVDCNVS7PNXo0VPINlfIOVnKO1vFPmC5SHa2ZpjJjMXgvl7KP2TMQ2XCSWqxVrXZqmjNRmvOSW7PS2zJS3O8Wm3NSnHQTnDNTXTRUHLNTm/JTW3ETXfSU3fQU3TLUovQb9rt0+7263rTVX7TWHzPV4fLaYjJa4nHbpvVgnXEUXrKVYHUWoDTWnnGVX3LWITVXYLRXITUXobVX4zMbqXYjKnXlN/w14fWX4LMW3/HWYrXYYjUYIbQXo3YZIzWY4HFW5HPb5XTc5TSdKDYgrrhpcjot8bltc3ovuj14YrQYZDYZo7VZZPZaJHVZ47RZYXGYJzWebjhoLPbnMHirYjIYJbaaovLY5jbbJrcbpXTa5vccJzbcaHYfKfeg+T02vX78fr9+JvbbprZbZnYbJvZbpHLZ5TOaZ7ccZ3acKzihKTSg7XjlLvmm9jsyqLdc6TedZvTb6DYcqXedqTddqLadJ3Vcp/PerLijbnmlLvomL7pnJrNbaffeKnfeKXcdpvNcb3omcDpnMHqnsDpnsLpn8PqosbqqMzssMnjss/mu+L00uj326XZdMPqn8XqocjspcbrpMztraTWcqzgeKLRcKnbd7XhhcHomsXqncPpnMfrosnrpcnspsrsqMLhoMHfocvqq+745PP67Pj89P3+/LDheK/fd6zddsTqmMfrnMLnmcnsn8frn8rsoc3up8ztp83tqdPutez43rPheLPherbjfbnkgb/mjMDmj8XplsbqmcDjlczsosztpM7up9DvqsPokMToksXplMbplMfqlcfqlsbplsrrmsjqmcnqmsrrnMzsnsvrnszsoM7tpM/tpdDtptDuqNLvqtXwrtLurN3ww8jqls7toM7sodDupM/to9HuptLuptDtpdLuqNXwq9TvqtXwrdbwrdTvrNbwr9vxueH0xfz9+v///////wAAACH5BAEAAP4ALAAAAAA3ADQAAAj/AP35m5MFi5WDCBMqXMiwoUMsWeYI9KdF0Spm1apZu3YNG7Zt2dat6+aNG7dvKMGpFCeOHbt3MOW5gwcv3ryb8+rp3EnPXrlfZbQMLIMx48aOH0OOLHky5cqWL2POpIkz506dPe3duzcvzhwzq4we/bhN29KSKMOFA8dSXLuo7+TJowkP51Wd+PDZ23svn19XZso003h0m+Fn3Uh6Q/lNbdt27d6Ni1mOrt2defPaQ4fOr+d0ZaxYG83R8DbEihk7Zgl53OS4lanerLfvmL50mTd39pzv27KDpK+ZRu1tcdpwjyNPJicvdt3Z+nD1u3VbL2fP6LotQ4YMeOnDiYur/0buFjLMd8zpPs+pj06/93TU4d6Nb5sy7twPfj8dfjx5yO24Rpls0N3y3oG4yIdOPdfch19+VggHXmppJRcgTMzFVlU9+Rh44IF1qMNMMg8+eJAzzpz2DGK+jNeWONG45ho55JhjI07n5GPLhzzWYcwqupQIYYorsqjaizDKOA4509hoDo7oHMPjlLdAs0uQJR7USy9F+uKlL8CEKcyY0Uij5DRoOmnOOemAMiWPuMyiCi9X6mKnnVpy+cyXvgQTJjBkSiOomcMMk6aN1FDzyZsf4kJLKqfQeeedB7HiiiutZJppMJy+4umYsYRKzKjEFGOqqZ/kwuh7daABCaSqoP8i66yoVGrppZiK0sooo3jqKSzAxiLLsLKcWow6/KzaDz+dUELJKaFMIsm01EpyUCWWZGuJK5eIIgqvvBrziSmlkGJuqMOW0sgm0inribOKJDLJIZHUa28k17Ki7bbdfjuKKTseU0u55qrrxyGBeLiqIJRAUoghiSByyMQUT3ztvpb0K4omskj5ni2caNKIH4SU3MiOyjLsMMSIlOzyy9dWgu2+mWRSipsfdsFIIoP0zAjKqy6xyB6FxNvz0Uj3fJAjMlfyyCPZYqLJHG/aAggffPiB86pzLKKHG3j0gfXYZI+9NNMyP20JJ4syegsgcrS9ahd/6LGHG3nAUfbefBz/1IgjgMvMiB+BUL3qLYavasMfa9yNxx12RC755JL77cjIh7TBBhtwxK3s53QoscYaboShxuaop676QZG8ocbrsIchRhmCfM4oLmekscYYYpgO++/Av35QGMQXX7wYY1TBhe1wnkHG7mJ8Yfz01Idx0BfYZ589GGB4McYWqjJfRxZkpOEF99qnrz72B0nh/vvwTzGFF2tkUYftuaBBRRNReCE//AAMoPsO8oQCGvCABYRCFJpwBvcoawtUcAL/oIDAClrwCQdhggY3yEENHsEIRWiCEhQ2JS5EsAlFMMIROsjCFjLhIESIoQxnKEMQFmEISbDBmwRBBiEMAYVGoKEQ/4cYQytcAQhITKISlRgEHOTgBz3oAo9qsAMf/GAIOAjCErfIxSReoQo4CKMYx0hGJz7xCks40BKqKIQf5KCMcIxjGKuAhBvY8Y54zKMdZSCDGdCgBv3oAhJg4IMZyECPiEzkHZGwgxg48pGQjKQj+TiDGegADT2AAQwMKQNJevKTj9wBD1pAylKa8pSmXIELXqBJGLzABStApSxnaUoeKGEGK8ilLnfJy12ygAUoCOYve0nMYu5yBkqoQQpOwMxmOvOZz1SBNKUJzWpa85kpqIE/SJACGKjABOAMpzjHSc5ymvOcKoBBCkgwkRp4oAMjiKc850nPeqKgBPjMJz5FUK/Pfo6gAx7Q5kQGStCCGtQfH3CACELA0IYy1AG4OKhEJ0pRgl7AAxxwaEM5cICKevSjBLXBAyYAgpKadAMdAKlKQTrSDZi0pBOAwEpnSlEFNGADGsipBiwwAJr69KAGaIAFdJqBBtjgp0gd6AESEIEMOFUCCkiqVP2BgAJIAAMYqEACcjHVpApgAAygAAYY0NGuJnUAC6hABBxgVqkOgAARIEAA2ppUBQBgAWWlaEAAADs=) no-repeat;
    border: 1px dotted #e2c822;
    min-height: 160px;
}

.success h3 {
    color: #900;
    line-height: 1.8;
}

.success p {
    color: #595959;
    font-size: 1.1em;
    line-height: 1.5;
}

.login-form {
    margin: 0 20px;
}

.login-form table {
    width: 100%;
}

.login-label label {
    font-size: 14px;
    font-weight: bold;
    color: #585858;
}

.login-input td {
    padding: 9px 0 15px;
}

.login-input input {
    padding: 5px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #888;
    border-radius: 2px;
    box-sizing: border-box;
}

.login-input input:hover {
    border: 1px solid #900;
}

.login-submit td {
    padding-top: 10px;
}

.login-submit input {
    padding: 7px;
    width: 100%;
    color: #fff;
    background: linear-gradient(0, #7b0c26, #870120 40%, #a70329);
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px #999;
    box-sizing: border-box;
}

.forgot-password {
    width: 90px;
}

.forgot-password a {
    margin-left: 15px;
    padding-left: 15px;
    color: #900;
    text-decoration: none;
    background: url(data:image/gif;base64,R0lGODlhDAAMAMQAAK8ZHLAaHLMbHKoWG6wXG6ERG6UTG6cUG5wOG5sOG6AQG/Hl5pkNG6MkMblbZNekqsUkHMAhHLoeHP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABMALAAAAAAMAAwAAAVU4CQ+TtM4jyguzCBBkDQwi8gAkDpBADM9h4goIpxEDiSARCRZTiSAUkBAFYioAdOAwBVxCYNTwUAukwsohGItWisQKUZiLponfBMWY8+n6UgmKCohADs=) no-repeat;
}

.active-tips {
    margin-left: 15px;
    color: #3b3b3b;
}

.active-links {
    margin-top: 8px;
    border-top: 1px solid #dfdfdf;
    color: #3b3b3b;
}

.active-links ul {
    margin: 0 50px 0 15px;
}

.active-links ul li::before {
    content: "";
    margin-right: 6px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #900;
    vertical-align: middle;
}

.active-links ul li {
    margin-top: 1em;
    width: 50%;
    float: left;
    list-style: none;
}

.active-links ul li a {
    color: #900;
}

.active-links ul::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    border-top: 2px solid #900;
}

.copyright {
    display: inline-block;
    text-align: left;
}

.copyright p {
    color: #515151;
    line-height: 20px;
}

@media screen and (max-width: 960px) {
    header {
        padding: 4px 0;
    }

    .main-left {
        display: none;
    }

    .main-right {
        display: block;
        width: inherit;
    }
}

@media screen and (max-width: 414px) {
    .forgot-password {
        display: none;
    }

    .active-tips, .active-links {
        display: none;
    }
}
